body {
  background-color: lightskyblue;
  color: black;
  margin: 50px;
  
}

h1 {
  color: black;
  text-align: center;
  font-family: "Vidaloka", serif;
  font-size: 120px;
}

.jumbotron {
  background-color: lightskyblue;
}

.img1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100px;
}

/*.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}*/

.img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
